<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" [routerLink]="['/tabs/inicio']">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clasificar" [routerLink]="['/tabs/clasificar']">
      <ion-icon aria-hidden="true" name="camera-outline"></ion-icon>
      <ion-label>Clasificar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="especies" [routerLink]="['/tabs/especies']">
      <ion-icon aria-hidden="true" name="leaf-outline"></ion-icon>
      <ion-label>Especies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa" [routerLink]="['/tabs/mapa']">
      <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportes" [routerLink]="['/tabs/reportes']">
      <ion-icon aria-hidden="true" name="bar-chart-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

